{% extends "adminbase.html" %}
{%  block body %}
<h3 style="text-align:center;color:black;">
  List of Farmers
</h3>
{% if msg %}
<p style="text-align:center;">{{msg}}</p>
{% endif %}
<div style="width:100%;margin:0 auto;">
<table style="width:90%;margin:0 auto;" class="table table-bordered border-dark ">
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Address</th>
    <th>contact No</th>
    <th>Aadhar No</th>
    <th>Booking</th>
    <th>view</th>
  </tr>
  {% for f in fi %}
 <tr>
   <td>{{f.name}}</td>
   <td>{{f.gender}}</td>
   <td>{{f.address}}</td>
   <td>{{f.contactno}}</td>
   <td>{{f.aadharno}}</td>
   <td>
     <a href="{% url 'adminapp:Book' ano=f.aadharno %}">Book</a>
   </td>
   <td>
     <a href="{% url 'adminapp:viewbook' ano=f.aadharno %}">view</a>
   </td>
 </tr>
  {% endfor %}
</table>
</div>
{%  endblock body %}