{% extends "adminbase.html" %}
{%  block body %}
<h3 style="color:black; text-align:center; font-family:Arial black;">
Enquiries Management
</h3>
<div style="width:100%;margin:0 auto;">
    <table class="table table-bordered border-dark" style="width:90%;margin:0 auto;">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Contact No</th>
            <th>Email Address</th>
            <th>Enquiry Text</th>
            <th>Enquiry Date</th>
            <th>Delete</th>
        </tr>
        {% for e in enq %}
        <tr>
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.gender}}</td>
            <td>{{e.address}}</td>
            <td>{{e.contactno}}</td>
            <td>{{e.emailaddress}}</td>
            <td>{{e.enquirytext}}</td>
            <td>{{e.enquirydate}}</td>
            <td><a href="{% url 'adminapp:deleteenq' id=e.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{%  endblock body %}